
# Sphonix base requirements
sphinx

# Sphinx themes
sphinx-book-theme
pydata_sphinx_theme

# Sphinix graph and chart extensions
graphviz
# sphinx.ext.graphviz


# Sphinx jquery extensions
sphinxcontrib.jquery

