body {
    direction: rtl;
    unicode-bidi: embed;
}

/* تنظیمات اضافی برای عناصر مختلف */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: right;
}

p {
    text-align: justify;
}

/* تنظیمات منو و ناوبری */
.wy-nav-side {
    right: 0;
    left: auto;
}

.wy-nav-content-wrap {
    margin-right: 300px;
    margin-left: 0;
}

pre {
    direction: ltr !important;
    text-align: left;
}